/*
Syntax error: Undefined variable: "$pink".
        on line 5 of ./chatBox.scss

1: #chatroom{
2:   background:white;
3:   height:545px;
4:   border-radius:5px;
5:   border:3px solid $pink;
6:   margin: 10px 0;
7: }
8: 
9: #displayChat{
10:   height:495px;

Backtrace:
./chatBox.scss:5
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/script/list.rb:70:in `block in _perform'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/script/list.rb:70:in `map'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/script/list.rb:70:in `_perform'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/song/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.9/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$pink\".\A         on line 5 of ./chatBox.scss\A \A 1: #chatroom{\A 2:   background:white;\A 3:   height:545px;\A 4:   border-radius:5px;\A 5:   border:3px solid $pink;\A 6:   margin: 10px 0;\A 7: }\A 8: \A 9: #displayChat{\A 10:   height:495px;"; }
